name: Build

on:
  push:
    branches:
      - master
      - beta
      - "feature/*"
      - "fix/*"
  pull_request:
    branches:
      - master

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: ^1.13
        id: go

      - name: Check out code
        uses: actions/checkout@v2

      - name: Run tests
        run: go test -v -coverprofile=coverage.out -covermode=count ./...

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          file: ./coverage.out # optional

      - name: Run Go Vet
        run: go vet .

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: ^1.13
        id: go

      - name: Check out code
        uses: actions/checkout@v2

      - name: Run golangci-lint # https://github.com/marketplace/actions/run-golangci-lint
        uses: golangci/golangci-lint-action@v1
        with:
          version: v1.29

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: ^1.13
        id: go

      - name: Check out code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install GitVersion
        uses: gittools/actions/gitversion/setup@v0.9.2
        with:
          versionSpec: "5.2.x"

      - name: Version with GitVersion # https://github.com/marketplace/actions/use-actions
        id: gitversion
        uses: gittools/actions/gitversion/execute@v0.9.2

      - name: Build windows x86
        run: go build -v -ldflags "-X main.AppVersion==${{ steps.gitversion.outputs.semVer }}" -o ${{ github.workspace }}/bin/windows/rmstale.exe rmstale.go
        env:
          GOOS: windows
          GOARCH: 386

      - name: Build linux x86
        run: go build -v -ldflags "-X main.AppVersion=${{ steps.gitversion.outputs.semVer }}" -o ${{ github.workspace }}/bin/linux/rmstale rmstale.go
        env:
          GOOS: linux
          GOARCH: 386

      - name: Build darwin x86
        run: go build -v -ldflags "-X main.AppVersion=${{ steps.gitversion.outputs.semVer }}" -o ${{ github.workspace }}/bin/darwin/rmstale-darwin rmstale.go
        env:
          GOOS: linux
          GOARCH: 386

      - name: Replace version in NuSpec file
        uses: cschleiden/replace-tokens@v1
        with:
          files: '["rmstale.nuspec"]'

      - name: Create directory for chocolaty package
        run: mkdir -p ${{ github.workspace }}/bin/chocolatey

      - name: Package chocolaty binary # Output path refers to the mapped docker volume (/wksp)
        uses: crazy-max/ghaction-chocolatey@v1
        with:
          args: pack rmstale.nuspec --outputdirectory /wksp/bin/chocolatey

      - name: Upload Windows Build Artifact
        uses: actions/upload-artifact@v2
        with:
          name: rmstale-win-x86
          path: ${{ github.workspace }}/bin/windows/rmstale.exe

      - name: Upload Linux Build Artifact
        uses: actions/upload-artifact@v2
        with:
          name: rmstale-linux-x86
          path: ${{ github.workspace }}/bin/linux/rmstale

      - name: Upload Darwin Build Artifact
        uses: actions/upload-artifact@v2
        with:
          name: rmstale-darwin-x86
          path: ${{ github.workspace }}/bin/darwin/rmstale-darwin

      - name: Upload Chocolatey Build Artifact
        uses: actions/upload-artifact@v2
        with:
          name: rmstale-chocolatey
          path: ${{ github.workspace }}/bin/chocolatey/rmstale*.nupkg

  release:
    name: Release
    runs-on: ubuntu-latest
    needs: [Build, Test]
    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Download build artifacts
        uses: actions/download-artifact@v2
        with:
          path: ${{ github.workspace }}/artifacts

      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 12

      - name: Install semantic release exec plugin
        run: npm install @semantic-release/exec -D

      - name: Release # https://github.com/semantic-release/semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx semantic-release

      - name: Push package to chocolatey.org
        uses: crazy-max/ghaction-chocolatey@v1
        if: ${{ env.CHOCOPUBLISH == 'true' }}
        with:
          args: push /wksp/bin/chocolatey/rmstale${{ steps.gitversion.outputs.nuGetPreReleaseTagV2 }}.nupkg --source https://push.chocolatey.org/ --apikey ${{ secrets.CHOCO_KEY }}
